{
    "plugins": ["node"],
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "env": {
        "node": true
    },
    "rules": {
        "no-console": 0,
        "node/no-extraneous-require": 0,
        "node/exports-style": ["error", "module.exports"]
    },
    "settings": {
        "import/core-modules": ["AWS-SDK"]
    }
}